{% extends 'pdfs/base.html' %}

{% block content %}
  <h1 class="h3 mb-3">Registro</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-3">
      {{ form.username.label_tag }}
      {{ form.username }}
      {{ form.username.errors }}
    </div>
    <div class="mb-3">
      {{ form.email.label_tag }}
      {{ form.email }}
      {{ form.email.errors }}
    </div>
    <div class="mb-3">
      {{ form.password1.label_tag }}
      {{ form.password1 }}
      {{ form.password1.errors }}
    </div>
    <div class="mb-3">
      {{ form.password2.label_tag }}
      {{ form.password2 }}
      {{ form.password2.errors }}
    </div>
    <button class="btn btn-primary">Crear cuenta</button>
  </form>
{% endblock %}
