# Copia este archivo a .env y ajusta las variables si lo deseas
SECRET_KEY=dev-secret-key
DEBUG=1
POSTGRES_DB=pdfdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DATABASE_URL=postgres://turnerodb:turnerodb1234@db:5432/turnerodb
PROD=0
ALLOWED_HOSTS=localhost,https://admin.testvps.uno/
CSRF_TRUSTED_ORIGINS=localhost,https://admin.testvps.uno/
