# Copia este archivo a .env y ajusta las variables si lo deseas
SECRET_KEY=dev-secret-key
DEBUG=1
PROD=0

DATABASE_URL=postgres://turnerodb:turnerodb1234@db:5432/turnerodb

DOMAIN=app.com
ALLOWED_HOSTS=localhost,https://admin.testvps.uno/
CSRF_TRUSTED_ORIGINS=localhost,https://admin.testvps.uno/
LETSENCRYPT_EMAIL=admin@app.com
